<!--**** form helpers ****-->
<!-- form -->
{% macro render_field(field) %}
<div class="form-group">
    {{ field.label }}
    <!-- if validation errors show invlaid feedback -->
    {% if field.errors %}
        {{ field(class="form-control form-control-sm is-invalid") }}
        <div class="invalid-feedback">
            {% for error in field.errors %}
            <small>{{ error }}</small>
            {% endfor %}
        </div>
    <!-- if no validation errors show no errors -->
    {% else %}
        {{ field(class="form-control form-control-sm") }}
    {% endif %}
</div>
{% endmacro %}

<!-- form with no label -->
{% macro no_label_render_field(field) %}
<div class="form-group mb-0">
    <!-- if validation errors show invlaid feedback -->
    {% if field.errors %}
        {{ field(class="form-control form-control-sm is-invalid") }}
        <div class="invalid-feedback">
            {% for error in field.errors %}
            <small>{{ error }}</small>
            {% endfor %}
        </div>
    <!-- if no validation errors show no errors -->
    {% else %}
        {{ field(class="form-control form-control-sm") }}
    {% endif %}
</div>
{% endmacro %}
<!--**** end form helpers ****-->

<!--**** current filter placeholder macros ****-->
{% macro show_filter(filterField) %}
    {% if filterField != None %} 
        {{ filterField }} 
    {% endif %}
{% endmacro %}
<!--**** end current filter placeholder macros ****-->

<!--**** flash messages ****-->
{% macro flash_messages() %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endmacro %}
<!--**** end flash messages ****-->
