<!--*** form helper ****-->
{% macro render_field(field) %}
<div class="form-group">
    {{ field.label }}
    <!-- if validation errors show invlaid feedback -->
    {% if field.errors %}
        {{ field(class="form-control form-control-sm is-invalid") }}
        <div class="invalid-feedback">
            {% for error in field.errors %}
            <small>{{ error }}</small>
            {% endfor %}
        </div>
    <!-- if no validation errors show no errors -->
    {% else %}
        {{ field(class="form-control form-control-sm") }}
    {% endif %}
</div>
{% endmacro %}

{% macro no_label_render_field(field) %}
<div class="form-group mb-0">
    <!-- if validation errors show invlaid feedback -->
    {% if field.errors %}
        {{ field(class="form-control form-control-sm is-invalid") }}
        <div class="invalid-feedback">
            {% for error in field.errors %}
            <small>{{ error }}</small>
            {% endfor %}
        </div>
    <!-- if no validation errors show no errors -->
    {% else %}
        {{ field(class="form-control form-control-sm") }}
    {% endif %}
</div>
{% endmacro %}
<!--*** end form helper ****-->

