{% extends 'base.html' %} 
{% from "_macros.html" import render_field %}
{% block content %}
    <main class="container-fluid form-container jumbotron create-job-jumbotron">
        <div class="card col-12 col-md-7 justify-content-center">
            <div class="card-title">
                <h1>{{ title }}</h1>
            </div>
            <div class="card-body">
                <!-- job post form -->
                <form method="POST" action="">
                    <!-- CSRF token needed for flask-wtf security -->
                    {{ form.csrf_token }}
                    <!-- form feilds from render_field macro -->
                    {{ render_field(form.title) }}
                    {{ render_field(form.sector) }}
                    {{ render_field(form.jobType) }}
                    {{ render_field(form.location) }}
                    {{ render_field(form.salary) }}
                    {{ render_field(form.summary) }}
                    {{ render_field(form.responsibilities) }}
                    {{ render_field(form.requirements) }}
                    {{ render_field(form.how_to_apply) }}
                    <!-- end form fields -->
                    <!-- submit field -->
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                    <!-- end submit field -->
                </form>
                <!-- end of job post form -->
            </div>
        </div>
    </main>
{% endblock content %}