{% extends 'base.html' %}
{% from "_macros.html" import no_label_render_field %}
{% block header_image %}
    <section class=" row justify-content-center jumbotron home-jumbotron">
        <div class="col-11 col-sm-10 col-md-7 text-center hero-message">
            <h1>Where apportunities are found</h1>
        </div>
    </section>
{% endblock header_image %}

{% block content %}
    <main class="container-fluid">
        <!--**** refine results section ****-->
        <div class="row">
            <div class="card col-12">
                <form method="POST" action="">
                    <!-- CSRF token needed for flask-wtf security -->
                    {{ form.csrf_token }}
                    <div class="row refine justify-content-center p-1">
                        <div class="col-5 col-sm-2 p-1 my-auto">{{ no_label_render_field(form.jobType) }}</div>
                        <div class="col-5 col-sm-2 p-1 my-auto">{{ no_label_render_field(form.salary) }}</div>
                        <div class="col-5 col-sm-2 p-1 my-auto">{{ no_label_render_field(form.sector) }}</div>
                        <div class="col-5 col-sm-2 p-1 my-auto">{{ no_label_render_field(form.location) }}</div>
                        <div class="col-3 col-sm-1 p-1 my-auto text-center">{{ form.submit(class="btn btn-refine") }}</div>
                    </div>
                </form>
            </div>
        </div>
        <!--**** end of refine results section ****-->

        <!--**** for every job post in db create job advert ****-->
        {% for job_post in job_posts %}
        <div class="row justify-content-center">
            <section class="card m-2 col-11 col-md-10 col-lg-8">
                <div class="row">
                    <img src="" class="col-3 rounded img-fluid" alt="Comp Logo">
                    <div class="col-6 col-sm-6 p-0">
                        <div class="row m-1"><h1 class="job-title"><a href="{{ url_for('job', id=job_post.id) }}">{{ job_post.title }}</a></h1></div>
                        <div class="row m-1">
                            <h2 class="job-subtitle">@{{ job_post.author.companyName }}</h2><small>&nbsp;on&nbsp;{{ job_post.date_posted.strftime('%m/%d/%y') }}</small> 
                        </div>       
                    </div>
                    {% if job_post.author == current_user %}
                        <div class="col-3">
                            <a href="{{ url_for('job', id=job_post.id) }}" class="btn btn-sm btn-secondary mt-3"><i class="fas fa-cogs mr-1"></i>Edit</a>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-4 job-indicator"><i class="fas fa-map-marker-alt m-1"></i>{{ job_post.location }}</div>
                    <div class="col-4 job-indicator"><i class="fas fa-users m-1"></i>{{ job_post.jobType }}</div>
                    <div class="col-4 job-indicator"><i class="fas fa-wallet m-1"></i>£{{ job_post.salary }}</div>
                </div>
                <div class="row p-1 justify-content-center">
                    <div class="col-11 role-info"><p>{{ job_post.role_sum|safe }}</p></div>
                </div>
            </section>
        </div>  
        {% endfor %}
        <!--**** end of for every job post in db create job advert ****-->
    </main>
{% endblock %}
