{% extends 'base.html' %}
{% from "_macros.html" import no_label_render_field, show_filter, flash_messages %}
{% block header_image %}
    <section class=" row justify-content-center jumbotron home-jumbotron">
        <div class="col-11 col-sm-10 col-md-7 text-center hero-message">
            <h1 class="hero-message-text">Where opportunities are found</h1>
        </div>
    </section>
{% endblock header_image %}

{% block content %}
    <main class="container-fluid">
        <!--**** refine results section ****-->
        <div class="row">
            <div class="col-12">
                <form method="POST" action="{{ url_for('main.index') }}" id="refine-form">
                    <!-- CSRF token needed for flask-wtf security -->
                    {{ form.csrf_token }}
                    <div class="row refine justify-content-around justify-content-sm-center p-3 p-sm-1">
                        <div class="col-5 col-sm-2 p-1 my-auto">{{ no_label_render_field(form.jobType) }}</div>
                        <div class="col-5 col-sm-2 p-1 my-auto">{{ no_label_render_field(form.salary) }}</div>
                        <div class="col-5 col-sm-2 p-1 my-auto">{{ no_label_render_field(form.sector) }}</div>
                        <div class="col-5 col-sm-2 p-1 my-auto">{{ no_label_render_field(form.location) }}</div>
                        <div class="col-3 col-sm-1 p-1 my-auto text-center">{{ form.submit(class="btn btn-refine") }}</div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row filter-results-row p-2">
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <h4>Recent Jobs</h4>
                    </div>
                </div>
                <div class="row">
                    <!-- if the number of return filtered job posts is lower than the total in db -->
                    {% if job_posts.total < job_posts_total %}
                        <div class="col-12">
                            <small class="d-inline-block">Showing {{ job_posts.total}} job/s for</small>
                            {% if locationField %}
                            <span class="filter-tab">{{ show_filter(locationField) }}</span> 
                            {% endif %}
                            {% if sectorField %}
                            <span class="filter-tab">{{ show_filter(sectorField) }}</span>
                            {% endif %}
                            {% if salaryField != '0' %}
                            <span class="filter-tab">{{ salaryField }}</span> 
                            {% endif %}
                            {% if jobTypeField != '0' %}
                            <span class="filter-tab">{{ jobTypeField }}</span> 
                            {% endif %}
                        </div>        
                    {% else %}
                    <!-- else show total number of job posts in db -->
                        <div class="col-6">
                            Showing all {{ job_posts_total }} jobs
                        </div>
                    {% endif %}
                    </div>    
                </div>
                <div class="col-12 mt-2">
                    <!-- reset filters button -->
                    {% if job_posts.total < job_posts_total %} 
                    <div class="col-6 col-sm-4 p-0">
                        <a class="btn btn-sm btn-outline-info" href="/">Reset Filters</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--**** end of refine results section ****-->

        <div class="row justify-content-center mt-2">
            <div class="col-11 col-md-10 col-lg-8 text-center">
                   {{ flash_messages() }} 
            </div>
        </div>

        <!--**** for every job post in db create job advert ****-->
        {% for job_post in job_posts.items %}
        <div class="row justify-content-center">
            <section class="card job-card m-2 col-11 col-md-10 col-lg-8 p-0">
                <div class="card-body p-3 p-sm-2">
                    <div class="row p-2">
                        <div class="col-3 col-sm-2 p-0 text-center">
                            <img src="{{ job_post.author.logo_url }}" class="col-3 rounded img-fluid p-0" alt="Comp Logo">
                        </div>
                        <div class="col-6 col-sm-6 p-0">
                            <div class="row m-1"><h1 class="job-title"><a href="{{ url_for('posts.job', id=job_post.id) }}">{{ job_post.title }}</a></h1></div>
                            <div class="row m-1">
                                <h2 class="job-subtitle">@{{ job_post.author.companyName }}</h2><small>&nbsp;on&nbsp;{{ job_post.date_posted.strftime('%m/%d/%y') }}</small> 
                            </div>       
                        </div>
                        {% if job_post.author == current_user %}
                            <div class="col-3">
                                <a href="{{ url_for('posts.job', id=job_post.id) }}" class="btn btn-sm btn-secondary mt-3"><i class="fas fa-cogs mr-1"></i>Edit</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-4 job-indicator"><i class="fas fa-map-marker-alt m-1"></i>{{ job_post.location_ref.city }}</div>
                        <div class="col-4 job-indicator"><i class="fas fa-users m-1"></i>{{ job_post.jobType }}</div>
                        <div class="col-4 job-indicator"><i class="fas fa-wallet m-1"></i>£{{ job_post.salary }}</div>
                    </div>
                    <div class="row p-1 justify-content-center">
                        <div class="col-11 role-info"><p>{{ job_post.role_sum|safe }}</p></div>
                    </div>
                </div>    
            </section>
        </div>  
        {% endfor %}
        <!--**** end of for every job post in db create job advert ****-->

        <!--**** pagination ****-->
        <div class="row justify-content-center paginate-row p-2">
            {% for page_num in job_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if job_posts.page == page_num %}
                        <a class="btn btn-sm btn-info mb-2" href="{{ url_for('main.index', page=page_num) }}">{{ page_num }}</a>
                    {% else %}
                        <a class="btn btn-sm btn-outline-info mb-2" href="{{ url_for('main.index', page=page_num) }}">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                 ... 
                {% endif %}
            {% endfor %}
        </div>
        <!--**** end pagination ****-->
    </main>
{% endblock %}
