{% extends 'base.html' %}
{% block content %}
    <main class="container">
        <div class="row justify-content-center">
            <section class="card m-2 col-12 col-md-10 col-lg-8">
                <div class="row">
                    <img src="" class="col-3 rounded img-fluid" alt="Comp Logo">
                    <div class="col-5 col-sm-6 p-0">
                        <div class="row m-1"><h1 class="job-title">{{ job.title }}</h1></div>
                        <div class="row m-1"><h2 class="job-subtitle">@{{ job.author.companyName }}</h2></div>       
                    </div>
                    {% if job.author == current_user %}
                        <div class="col-2 mt-2">
                            <div class="row">
                                <a class="btn btn-secondary btn-sm m-1 p-1" href="{{ url_for('edit_post', id=job.id) }}">Edit</a>
                            </div>
                            <div class="row">
                                <button type="button" class="btn btn-danger btn-sm m-1 p-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="row mt-1">
                    <div class="col-4 job-indicator"><i class="fas fa-map-marker-alt m-1"></i>{{ job.location }}</div>
                    <div class="col-4 job-indicator"><i class="fas fa-users m-1"></i>{{ job.jobType }}</div>
                    <div class="col-4 job-indicator"><i class="fas fa-wallet m-1"></i>£{{ job.salary }}</div>
                </div>
                <hr>
                <h2 class="job-desc-heading">Job Description</h2>
                <section class="row p-3">
                    <h3 class="job-desc-sub-heading">Role Summary</h3>
                    <div class="col-12 role-info"><p>{{ job.role_sum|safe }}</p></div>
                </section>
                <section class="row p-3">
                    <h3 class="job-desc-sub-heading">Responsibiliites</h3>
                    <div class="col-12 role-info"><p>{{ job.resp }}</p></div>
                </section>
                <section class="row p-3">
                    <h3 class="job-desc-sub-heading">Skils/Requirements</h3>
                    <div class="col-12 role-info"><p>{{ job.requirements }}</p></div>
                </section>
                <section class="row p-3">
                    <h3 class="job-desc-sub-heading">How to Apply?</h3>
                    <div class="col-12 role-info"><p>{{ job.how_to_apply }}</p></div>
                </section>
            </section>
        </div>  
    </main>

    <!--**** delete post modal ****-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirm Delete Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this post?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Go Back</button>
                    <form action="{{ url_for('delete_post', id=job.id) }}" method="POST">
                        <!-- flask-wtf csrf token for post request -->
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--**** end delete post modal ****-->
{% endblock %}