.home-jumbotron{
    background-image: url('/static/assets/images/culture-people-background.jpg');
    height: 70vh;
    padding: 0px;
    margin: 0px;
    background-position: 55% 60%; /* Center the image */
    // // background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    border-radius: 0;
    @include all-desktop-devices{
        height: 80vh;
    }
}

.home-jumbotron::before{
    background-color: black;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0.2;
}

.hero-message{
    position: absolute;
    top: 20%;
    color: white;
    z-index: 98
    
}

.refine{
    color: white;
    background-color: #2c3e50;
}

.refine-heading{
    font-size: 1.3rem;
}

.btn-refine{
    color: white;
    background-color: #17a2b8;
}

.job-title{
    font-size: 1.5rem;
    color: #1CA8D0;
}

.job-subtitle{
    font-size: 1rem;
}

.role-info{
    font-size: .8rem;
}

.job-indicator{
    text-align: center;
    font-size: .9rem;
}

.job-card{
    border: none;
}

.rounded{
    max-width: 60%;
    height: auto;
    @include mobile-device{
        max-width: 100%;
    }
    @include large-mobile-device{
        max-width: 80%;
    }
}