/*** register form styles ***/
.form-container{
    text-align: -webkit-center;
}

.error-msg{
    color: red;
}

/*** register page jumbotron ***/
.register-jumbotron{
    background-image: url('/static/assets/images/Fotolia_172013830_M.jpg');
    height: 90vh;
    padding: 0px;
    margin: 0px;
    background-position: 55% 60%; 
    background-size: cover; 
}